@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue-bg: #6cb1ff;
    --red-tomato: #ff4d54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.contentBox {
    position: relative;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contentBox .imgBx {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .imgBx::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
}

.contentBox .imgBx img {
    position: relative;
    max-width: 250px;
    z-index: 1;
}

.contentBox .content {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .content h3 {
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
}

.contentBox .content h2 {
    font-size: 4em;
    color: var(--red-tomato);
    line-height: 1em;
}

.contentBox .content h2 span {
    color: #333;
    font-size: 0.75em;
    text-transform: uppercase;
}

.contentBox .content p {
    font-weight: 300;
}

.contentBox .content a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--red-tomato);
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    border-radius:10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url('https://www.flaticon.com/svg/vstatic/svg/1828/1828778.svg?token=exp=1617429946~hmac=643333d491c39f09c726875cb172910e');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor:pointer;
    border-radius: 50%;
    z-index: 10;
}

/* RESPONSIVE */

@media (max-width: 767px) {
    .contentBox {
        width: 300px;
        height: auto;
        flex-direction: column;
    }
    .contentBox .imgBx {
        height: 200px;
        transform: translateY(-50px);
    }
    .contentBox .imgBx::before {
        background: #fff;
    } 
    .contentBox .content {
        height: auto;
        text-align: center;
        padding: 20px;
        padding-top: 0;
    }
    .close {
        top: -50px;
        right: -10px;
        background: #f3f3f3 url('https://www.flaticon.com/svg/vstatic/svg/1828/1828778.svg?token=exp=1617429946~hmac=643333d491c39f09c726875cb172910e');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
    }
}