* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: url(/assets/mountain.png) no-repeat;
    background-attachment: fixed;
}

.painel {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

   /* background-color: rgba(255, 255, 255, 0.03);  
    backdrop-filter: blur(5px); */
}


.card {
    background: rgba(0, 0, 0, 0.3);
    width: 800px;
    max-width: 800px;
    padding: 25px;
    
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-radius: 10%;

    display: flex;
    align-items: center;  
    justify-content:center;  
    flex-direction: column;
    position: absolute;

    background-color: rgba(255, 255, 255, );  
    backdrop-filter: blur(5px);
    
    transform: translate(0, 0);
    

    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card:hover {
    transform: translate(0, -10px);
}


label  {
    color: #A30F31;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.lover-name {
    display:flex;
    flex-direction: column;
    padding-bottom: 2.4rem;
}

.message {
    display:flex;
    flex-direction: column;
    padding-bottom: 2.4rem;
}

.data {
    display:flex;
    flex-direction: column;
    padding-bottom: 2.4rem;
    
}

h1 {
    color: #A30F31;
    text-transform: uppercase;
    
}

.love-image {
    width: 40px;
    position: relative;
    left: 10.625rem;
    top: -6.875rem;
}

.form {
    padding: 50px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content:space-between;

        animation: fade-in 1.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

#name {
    border: 1px solid rgba(0, 0, 0, 0.7);

}

.name {
    text-align: left;
}


.button {
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px 35px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background: #fff;
    border: 5px solid #A30F31;
}

@keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }